<mat-toolbar color="primary">
  <span>Muselearn</span>

  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isCurrentStateActive">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openNewMeasureDialog()">
      <mat-icon>add</mat-icon>
      <span>Nowy takt</span>
    </button>

    <button mat-menu-item (click)="onRemoveLastMeasure()">
      <mat-icon>delete</mat-icon>
      <span>Usuń ostatni takt</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="noteMenu">
      <mat-icon>add</mat-icon>
      <span>Nowa nuta</span>
    </button>

    <button mat-menu-item (click)="onRemoveLastNote()">
      <mat-icon>delete</mat-icon>
      <span>Usuń ostatnią nutę w takcie</span>
    </button>
  </mat-menu>

  <mat-menu #noteMenu="matMenu">
    <button mat-menu-item (click)="onAddNote(1)">Cała nuta</button>
    <button mat-menu-item (click)="onAddNote(2)">Półnuta</button>
    <button mat-menu-item (click)="onAddNote(4)">Ćwierćnuta</button>
    <button mat-menu-item (click)="onAddNote(8)">Ósemka</button>
    <button mat-menu-item (click)="onAddNote(16)">Szesnastka</button>
  </mat-menu>
</mat-toolbar>
